<%= simple_form_for(@book) do |f| %>
  

  <%= f.input :title, label:false, placeholder: '書名'%>  
  <%= f.input :page%>
  <%= f.input :price%>
  <%= f.input :publish_date%>
  

 
  <div class="actions">
    <%= f.submit class:'btn btn-info'%>
  </div>
<% end %>
